.container {
  background-color: #0d0f11;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px 5px;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  z-index: 10;
  isolation: isolate;
}

.leftColumn,
.rightColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centerColumn {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: flex-start;
  align-self: stretch;
  min-height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px;
}

.screenshotItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screenshot {
  width: 365px;
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  object-fit: contain;
}

.screenshot:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(255, 255, 255, 0.2);
}

.stickyPhone {
  position: relative;
  z-index: 10;
  will-change: transform;
}

.phoneImage {
  width: 348px;
  height: auto;
  max-height: 700px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  object-fit: contain;
  margin: 13px 0px 13px 0px;
}

.phoneImage:hover {
  transform: translateY(-50%) scale(1.05);
  box-shadow: 0 25px 80px rgba(255, 255, 255, 0.25);
}

/* Responsive design */
@media (max-width: 1440px) {
  .container {
    overflow: hidden;
    padding: 0;
    gap: 0;
    min-height: auto;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .screenshot {
    width: 400px;
    height: auto;
  }

  .leftColumn,
  .rightColumn {
    overflow: hidden;
  }

  .centerColumn {
    overflow: hidden;
  }

  .phoneImage {
    width: 378px;

    margin: 11px 0px 11px 0px;
  }
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .phoneImage {
    width: 378px;

    margin: 15px 0px 15px 0px;
  }
}

@media (max-width: 768px) {
  .phoneImage {
    width: 377px;

    margin: 13px 0px 13px 0px;
  }
}

@media (max-width: 480px) {
  .phoneImage {
    width: 377px;

    margin: 7px 0px 7px 0px;
  }
}
/* 1440px */